# Ignore some static files and directories.
/.buildpath
/.project
/.settings
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/module-slider
!/modules/module-slider/*
!/themes/admin_default/css/module-slider.css
!/themes/admin_default/js/module-slider.js
!/themes/admin_default/js/jquery.sticky.js
!/themes/admin_default/js/notify.min.js
!/themes/admin_default/images/module-slider
!/themes/admin_default/images/module-slider/*
!/themes/admin_default/modules/module-slider
!/themes/admin_default/modules/module-slider/*
!/themes/default/css/module-slider.css
!/themes/default/js/module-slider.js
!/themes/default/js/module-slider-*.js
!/themes/default/js/jquery.simple.timer.js
!/themes/default/images/module-slider
!/themes/default/images/module-slider/*
!/themes/default/modules/module-slider
!/themes/default/modules/module-slider/*
/.project
/vendor/
/.gitattributes
/composer.json
/composer.lock
/composer.phar
/error.php
/regtime.update.php
